.search-54 {
  height: 5.4rem;
}

.search-48 {
  height: 4.8rem;
}


.search-40 {
  height: 4rem;
}

.search-36 {
  height: 3.6rem;
}


.search-36, .search-40, .search-48, .search-54 {
  border: 1px solid var(--slate-400);
  border-radius: var(--radius-md-8);
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--slate-900);
  background-color: var(--white);
  outline: none;
  transition: border-color 0.2s ease-in-out;
  &:focus {
    border-color: var(--blue-500);
  }
  &:hover {
    border-color: var(--blue-500);
  }
  &:active {
    border-color: var(--blue-500);
  }
  &:disabled {
    background-color: var(--slate-200);
  }
  input {
    border: none;
  }
}