.shadow-xs {
  box-shadow: 0 96px 27px 0 rgba(26, 30, 35, 0.00), 0 62px 25px 0 rgba(26, 30, 35, 0.01), 0 35px 21px 0 rgba(26, 30, 35, 0.03), 0 15px 15px 0 rgba(26, 30, 35, 0.04), 0 4px 8px 0 rgba(26, 30, 35, 0.05);
}

.shadow-s {
box-shadow: 0 225px 63px 0 rgba(26, 30, 35, 0.00), 0 144px 57px 0 rgba(26, 30, 35, 0.01), 0 81px 49px 0 rgba(26, 30, 35, 0.03), 0 36px 36px 0 rgba(26, 30, 35, 0.04), 0 9px 20px 0 rgba(26, 30, 35, 0.05);
} 

.shadow-md {
box-shadow: 0 481px 135px 0 rgba(26, 30, 35, 0.00), 0 308px 123px 0 rgba(26, 30, 35, 0.01), 0 173px 104px 0 rgba(26, 30, 35, 0.05), 0 77px 77px 0 rgba(26, 30, 35, 0.09), 0 19px 42px 0 rgba(26, 30, 35, 0.10);
}

.shadow-lg {
  box-shadow: 0 1123px 250px 0 rgba(0, 0, 0, 0.00), 0 719px 250px 0 rgba(0, 0, 0, 0.01), 0 404px 243px 0 rgba(0, 0, 0, 0.05), 0 180px 180px 0 rgba(0, 0, 0, 0.09), 0 45px 99px 0 rgba(0, 0, 0, 0.10);
}