/*==== typography ====*/
.Heading1-B-48 {
  font-size: 4.8rem;
  letter-spacing: 0;
  line-height: 160%;
  font-weight: 700;
}
.Heading2-B-40 {
  font-size: 4rem;
  letter-spacing: 0;
  line-height: 160%;
  font-weight: 700;
}
.Heading3-B-36 {
  font-size: 3.6rem;
  letter-spacing: 0;
  line-height: 160%;
  font-weight: 700;
}
.Heading3-M-36 {
  font-size: 3.6rem;
  letter-spacing: 0;
  line-height: 160%;
  font-weight: 500;
}
.Heading4-B-32 {
  font-size: 3.2rem;
  letter-spacing: 0;
  line-height: 160%;
  font-weight: 700;
}
.Heading4-SB-32 {
  font-size: 3.2rem;
  letter-spacing: 0;
  line-height: 160%;
  font-weight: 600;
}
.Heading4-M-32 {
  font-size: 3.2rem;
  letter-spacing: 0;
  line-height: 160%;
  font-weight: 500;
}
.Heading4-R-32 {
  font-size: 3.2rem;
  letter-spacing: 0;
  line-height: 160%;
  font-weight: 400;
}
.Heading5-R-30 {
  font-size: 3rem;
  letter-spacing: 0;
  line-height: 160%;
  font-weight: 400;
}
.Heading5-M-30 {
  font-size: 3rem;
  letter-spacing: 0;
  line-height: 160%;
  font-weight: 500;
}
.Heading5-SB-30 {
  font-size: 3rem;
  letter-spacing: 0;
  line-height: 160%;
  font-weight: 600;
}
.Heading5-B-30 {
  font-size: 3rem;
  letter-spacing: 0;
  line-height: 160%;
  font-weight: 700;
}
.Heading6-B-28 {
  font-size: 2.8rem;
  letter-spacing: 0;
  line-height: 160%;
  font-weight: 700;
}
.Heading6-SB-28 {
  font-size: 2.8rem;
  letter-spacing: 0;
  line-height: 160%;
  font-weight: 600;
}
.Heading6-M-28 {
  font-size: 2.8rem;
  letter-spacing: 0;
  line-height: 160%;
  font-weight: 500;
}
.Heading6-R-28 {
  font-size: 2.8rem;
  letter-spacing: 0;
  line-height: 160%;
  font-weight: 400;
}
.Heading7-SB-26 {
  font-size: 2.6rem;
  letter-spacing: 0;
  line-height: 160%;
  font-weight: 600;
}
.Heading7-M-26 {
  font-size: 2.6rem;
  letter-spacing: 0;
  line-height: 160%;
  font-weight: 500;
}
.Heading7-R-26 {
  font-size: 2.6rem;
  letter-spacing: 0;
  line-height: 160%;
  font-weight: 400;
}
.Heading8-B-24 {
  font-size: 2.4rem;
  letter-spacing: 0;
  line-height: 160%;
  font-weight: 700;
}
.Heading8-SB-24 {
  font-size: 2.4rem;
  letter-spacing: -.2px;
  line-height: 160%;
  font-weight: 600;
}
.Heading8-M-24 {
  font-size: 2.4rem;
  letter-spacing: -.2px;
  line-height: 160%;
  font-weight: 500;
}
.Heading8-R-24 {
  font-size: 2.4rem;
  letter-spacing: -.2px;
  line-height: 160%;
  font-weight: 400;
}
.Heading9-B-22 {
  font-size: 2.2rem;
  letter-spacing: -.2px;
  line-height: 140%;
  font-weight: 700;
}
.Heading9-SB-22 {
  font-size: 2.2rem;
  letter-spacing: -.2px;
  line-height: 160%;
  font-weight: 600;
}
.Heading9-M-22 {
  font-size: 2.2rem;
  letter-spacing: -.2px;
  line-height: 160%;
  font-weight: 500;
}
.Heading9-R-22 {
  font-size: 2.2rem;
  letter-spacing: -.2px;
  line-height: 160%;
  font-weight: 400;
}
.Heading10-B-20 {
  font-size: 2rem;
  letter-spacing: -.2px;
  line-height: 170%;
  font-weight: 700;
}
.Heading10-SB-20 {
  font-size: 2rem;
  letter-spacing: -.2px;
  line-height: 170%;
  font-weight: 600;
}
.Heading10-M-20 {
  font-size: 2rem;
  letter-spacing: -.2px;
  line-height: 170%;
  font-weight: 500;
}
.Heading10-R-20 {
  font-size: 2rem;
  letter-spacing: -.2px;
  line-height: 170%;
  font-weight: 400;
}
.Body1-B-18 {
  font-size: 1.8rem;
  letter-spacing: -.3px;
  line-height: 170%;
  font-weight: 700;
}
.Body1-SB-18 {
  font-size: 1.8rem;
  letter-spacing: -.3px;
  line-height: 170%;
  font-weight: 600;
}
.Body1-M-18 {
  font-size: 1.8rem;
  letter-spacing: -.3px;
  line-height: 170%;
  font-weight: 500;
}
.Body1-R-18 {
  font-size: 1.8rem;
  letter-spacing: -.3px;
  line-height: 170%;
  font-weight: 400;
}
.Body2-B-16 {
  font-size: 1.6rem;
  letter-spacing: -.3px;
  line-height: 170%;
  font-weight: 700;
}
.Body2-SB-16 {
  font-size: 1.6rem;
  letter-spacing: -.3px;
  line-height: 170%;
  font-weight: 600;
}
.Body2-M-16 {
  font-size: 1.6rem;
  letter-spacing: -.3px;
  line-height: 170%;
  font-weight: 500;
}
.Body2-R-16 {
  font-size: 1.6rem;
  letter-spacing: -.3px;
  line-height: 170%;
  font-weight: 400;
}
.Body3-B-14 {
  font-size: 1.4rem;
  letter-spacing: -.3px;
  line-height: 170%;
  font-weight: 700;
}
.Body3-SB-14 {
  font-size: 1.4rem;
  letter-spacing: -.3px;
  line-height: 170%;
  font-weight: 600;
}
.Body3-M-14 {
  font-size: 1.4rem;
  letter-spacing: -.3px;
  line-height: 170%;
  font-weight: 500;
}
.Body3-R-14 {
  font-size: 1.4rem;
  letter-spacing: -.3px;
  line-height: 170%;
  font-weight: 400;
}
.Body4-B-13 {
  font-size: 1.3rem;
  letter-spacing: -.3px;
  line-height: 170%;
  font-weight: 700;
}
.Body4-SB-13 {
  font-size: 1.3rem;
  letter-spacing: -.3px;
  line-height: 170%;
  font-weight: 600;
}
.Body4-M-13 {
  font-size: 1.3rem;
  letter-spacing: -.3px;
  line-height: 170%;
  font-weight: 500;
}
.Body4-R-13 {
  font-size: 1.3rem;
  letter-spacing: -.3px;
  line-height: 170%;
  font-weight: 400;
}
.Body5-B-12 {
  font-size: 1.2rem;
  letter-spacing: -.3px;
  line-height: 170%;
  font-weight: 700;
}
.Body5-SB-12 {
  font-size: 1.2rem;
  letter-spacing: -.3px;
  line-height: 170%;
  font-weight: 600;
}
.Body5-M-12 {
  font-size: 1.2rem;
  letter-spacing: -.3px;
  line-height: 170%;
  font-weight: 500;
}
.Body5-R-12 {
  font-size: 1.2rem;
  letter-spacing: -.3px;
  line-height: 170%;
  font-weight: 400;
}
/*==== typography e ====*/



/*==== color s ====*/
.color-white {
  color: var(--white);
}
.color-black {
  color: var(--black);
}
.color-gray-50 {
  color: var(--gray-50);
}
.color-gray-100 {
  color: var(--gray-100);
}
.color-gray-200 {
  color: var(--gray-200);
}
.color-gray-300 {
  color: var(--gray-300);
}
.color-gray-400 {
  color: var(--gray-400);
}
.color-gray-500 {
  color: var(--gray-500);
}
.color-gray-600 {
  color: var(--gray-600);
}
.color-gray-700 {
  color: var(--gray-700);
}
.color-gray-800 {
  color: var(--gray-800);
}
.color-gray-900 {
  color: var(--gray-900);
}


.color-slate-50 {
  color: var(--slate-50);
}
.color-slate-100 {
  color: var(--slate-100);
}
.color-slate-200 {
  color: var(--slate-200);
}
.color-slate-300 {
  color: var(--slate-300);
}
.color-slate-400 {
  color: var(--slate-400);
}
.color-slate-500 {
  color: var(--slate-500);
}
.color-slate-600 {
  color: var(--slate-600);
}
.color-slate-700 {
  color: var(--slate-700);
}
.color-slate-800 {
  color: var(--slate-800);
}
.color-slate-900 {
  color: var(--slate-900);
}


.color-sky-blue-50 {
  color: var(--sky-blue-50);
}
.color-sky-blue-100 {
  color: var(--sky-blue-100);
}
.color-sky-blue-200 {
  color: var(--sky-blue-200);
}
.color-sky-blue-300 {
  color: var(--sky-blue-300);
}
.color-sky-blue-400 {
  color: var(--sky-blue-400);
}
.color-sky-blue-500 {
  color: var(--sky-blue-500);
}
.color-sky-blue-600 {
  color: var(--sky-blue-600);
}
.color-sky-blue-700 {
  color: var(--sky-blue-700);
}
.color-sky-blue-800 {
  color: var(--sky-blue-800);
}
.color-sky-blue-900 {
  color: var(--sky-blue-900);
}


.color-blue-50 {
  color: var(--blue-50);
}
.color-blue-100 {
  color: var(--blue-100);
}
.color-blue-200 {
  color: var(--blue-200);
}
.color-blue-300 {
  color: var(--blue-300);
}
.color-blue-400 {
  color: var(--blue-400);
}
.color-blue-500 {
  color: var(--blue-500);
}
.color-blue-600 {
  color: var(--blue-600);
} 
.color-blue-700 {
  color: var(--blue-700);
}
.color-blue-800 {
  color: var(--blue-800);
}
.color-blue-900 {
  color: var(--blue-900);
}


.color-navy-50 {
  color: var(--navy-50);
}
.color-navy-100 {
  color: var(--navy-100);
}
.color-navy-200 {
  color: var(--navy-200);
}
.color-navy-300 {
  color: var(--navy-300);
}
.color-navy-400 {
  color: var(--navy-400);
}
.color-navy-500 {
  color: var(--navy-500);
}
.color-navy-600 {
  color: var(--navy-600);
}
.color-navy-700 {
  color: var(--navy-700);
}
.color-navy-800 {
  color: var(--navy-800);
}
.color-navy-900 {
  color: var(--navy-900);
}


.color-orange-50 {
  color: var(--orange-50);
}
.color-orange-100 {
  color: var(--orange-100);
}
.color-orange-200 {
  color: var(--orange-200);
}
.color-orange-300 {
  color: var(--orange-300);
}
.color-orange-400 {
  color: var(--orange-400);
}
.color-orange-500 {
  color: var(--orange-500);
}
.color-orange-600 {
  color: var(--orange-600);
}
.color-orange-700 {
  color: var(--orange-700);
}
.color-orange-800 {
  color: var(--orange-800);
}
.color-orange-900 {
  color: var(--orange-900);
}


.color-yellow-50 {
  color: var(--yellow-50);
}
.color-yellow-100 {
  color: var(--yellow-100);
}
.color-yellow-200 {
  color: var(--yellow-200);
}
.color-yellow-300 {
  color: var(--yellow-300);
}
.color-yellow-400 {
  color: var(--yellow-400);
}
.color-yellow-500 {
  color: var(--yellow-500);
}
.color-yellow-600 {
  color: var(--yellow-600);
}
.color-yellow-700 {
  color: var(--yellow-700);
}
.color-yellow-800 {
  color: var(--yellow-800);
}
.color-yellow-900 {
  color: var(--yellow-900);
}


.color-red-50 {
  color: var(--red-50);
}
.color-red-100 {
  color: var(--red-100);
}
.color-red-200 {
  color: var(--red-200);
}
.color-red-300 {
  color: var(--red-300);
}
.color-red-400 {
  color: var(--red-400);
}
.color-red-500 {
  color: var(--red-500);
}
.color-red-600 {
  color: var(--red-600);
}
.color-red-700 {
  color: var(--red-700);
}
.color-red-800 {
  color: var(--red-800);
}
.color-red-900 {
  color: var(--red-900);
}


.color-pink-50 {
  color: var(--pink-50);
}
.color-pink-100 {
  color: var(--pink-100);
}
.color-pink-200 {
  color: var(--pink-200);
}
.color-pink-300 {
  color: var(--pink-300);
}
.color-pink-400 {
  color: var(--pink-400);
}
.color-pink-500 {
  color: var(--pink-500);
}
.color-pink-600 {
  color: var(--pink-600);
}
.color-pink-700 {
  color: var(--pink-700);
}
.color-pink-800 {
  color: var(--pink-800);
}
.color-pink-900 {
  color: var(--pink-900);
}

.color-blue-green-50 {
  color: var(--blue-green-50);
}
.color-blue-green-100 {
  color: var(--blue-green-100);
}
.color-blue-green-200 {
  color: var(--blue-green-200);
}
.color-blue-green-300 {
  color: var(--blue-green-300);
}
.color-blue-green-400 {
  color: var(--blue-green-400);
}
.color-blue-green-500 {
  color: var(--blue-green-500);
}
.color-blue-green-600 {
  color: var(--blue-green-600);
}
.color-blue-green-700 {
  color: var(--blue-green-700);
}
.color-blue-green-800 {
  color: var(--blue-green-800);
}
.color-blue-green-900 {
  color: var(--blue-green-900);
}


.color-green-50 {
  color: var(--green-50);
}
.color-green-100 {
  color: var(--green-100);
}
.color-green-200 {
  color: var(--green-200);
} 
.color-green-300 {
  color: var(--green-300);
}
.color-green-400 {
  color: var(--green-400);
}
.color-green-500 {
  color: var(--green-500);
}
.color-green-600 {
  color: var(--green-600);
}
.color-green-700 {
  color: var(--green-700);
}
.color-green-800 {
  color: var(--green-800);
}
.color-green-900 {
  color: var(--green-900);
}


.color-teal-blue-50 {
  color: var(--teal-blue-50);
}
.color-teal-blue-100 {
  color: var(--teal-blue-100);
}
.color-teal-blue-200 {
  color: var(--teal-blue-200);
}
.color-teal-blue-300 {
  color: var(--teal-blue-300);
}
.color-teal-blue-400 {
  color: var(--teal-blue-400);
}
.color-teal-blue-500 {
  color: var(--teal-blue-500);
}
.color-teal-blue-600 {
  color: var(--teal-blue-600);
}
.color-teal-blue-700 {
  color: var(--teal-blue-700);
}
.color-teal-blue-800 {
  color: var(--teal-blue-800);
}
.color-teal-blue-900 {
  color: var(--teal-blue-900);
}

.color-teal-50 {
  color: var(--teal-50);
}
.color-teal-100 {
  color: var(--teal-100);
}
.color-teal-200 {
  color: var(--teal-200);
}
.color-teal-300 {
  color: var(--teal-300);
}
.color-teal-400 {
  color: var(--teal-400);
}
.color-teal-500 {
  color: var(--teal-500);
}
.color-teal-600 {
  color: var(--teal-600);
}
.color-teal-700 {
  color: var(--teal-700);
}
.color-teal-800 {
  color: var(--teal-800);
}
.color-teal-900 {
  color: var(--teal-900);
}

.color-blue-purple-50 {
  color: var(--blue-purple-50);
}
.color-blue-purple-100 {
  color: var(--blue-purple-100);
}
.color-blue-purple-200 {
  color: var(--blue-purple-200);
}
.color-blue-purple-300 {
  color: var(--blue-purple-300);
}
.color-blue-purple-400 {
  color: var(--blue-purple-400);
}
.color-blue-purple-500 {
  color: var(--blue-purple-500);
}
.color-blue-purple-600 {
  color: var(--blue-purple-600);
}
.color-blue-purple-700 {
  color: var(--blue-purple-700);
}
.color-blue-purple-800 {
  color: var(--blue-purple-800);
}
.color-blue-purple-900 {
  color: var(--blue-purple-900);
}

.color-violet-50 {
  color: var(--violet-50);
}
.color-violet-100 {
  color: var(--violet-100);
}
.color-violet-200 {
  color: var(--violet-200);
} 
.color-violet-300 {
  color: var(--violet-300);
}
.color-violet-400 {
  color: var(--violet-400);
}
.color-violet-500 {
  color: var(--violet-500);
}
.color-violet-600 {
  color: var(--violet-600);
}
.color-violet-700 {
  color: var(--violet-700);
}
.color-violet-800 {
  color: var(--violet-800);
}
.color-violet-900 {
  color: var(--violet-900);
}


.color-mulberry-50 {
  color: var(--mulberry-50);
}
.color-mulberry-100 {
  color: var(--mulberry-100);
}
.color-mulberry-200 {
  color: var(--mulberry-200);
}
.color-mulberry-300 {
  color: var(--mulberry-300);
}
.color-mulberry-400 {
  color: var(--mulberry-400);
}
.color-mulberry-500 {
  color: var(--mulberry-500);
}
.color-mulberry-600 {
  color: var(--mulberry-600);
}
.color-mulberry-700 {
  color: var(--mulberry-700);
}
.color-mulberry-800 {
  color: var(--mulberry-800);
}
.color-mulberry-900 {
  color: var(--mulberry-900);
}


.bg-none {
  background-color: transparent;
}
.bg-white {
  background-color: var(--white);
}
.bg-black {
  background-color: var(--black);
}
.bg-popup-overlay {
  background-color: rgba(0, 0, 0, 0.5);
}


.bg-gray-50 {
  background-color: var(--gray-50);
}
.bg-gray-100 {
  background-color: var(--gray-100);
}
.bg-gray-200 {
  background-color: var(--gray-200);
}
.bg-gray-300 {
  background-color: var(--gray-300);
}
.bg-gray-400 {
  background-color: var(--gray-400);
}
.bg-gray-500 {
  background-color: var(--gray-500);
}
.bg-gray-600 {
  background-color: var(--gray-600);
}
.bg-gray-700 {
  background-color: var(--gray-700);
}
.bg-gray-800 {
  background-color: var(--gray-800);
}
.bg-gray-900 {
  background-color: var(--gray-900);
}


.bg-slate-50 {
  background-color: var(--slate-50);
}
.bg-slate-100 {
  background-color: var(--slate-100);
}
.bg-slate-200 {
  background-color: var(--slate-200);
}
.bg-slate-300 {
  background-color: var(--slate-300);
}
.bg-slate-400 {
  background-color: var(--slate-400);
}
.bg-slate-500 {
  background-color: var(--slate-500);
}
.bg-slate-600 {
  background-color: var(--slate-600);
}
.bg-slate-700 {
  background-color: var(--slate-700);
}
.bg-slate-800 {
  background-color: var(--slate-800);
}
.bg-slate-900 {
  background-color: var(--slate-900);
}


.bg-sky-blue-50 {
  background-color: var(--sky-blue-50);
}
.bg-sky-blue-100 {
  background-color: var(--sky-blue-100);
}
.bg-sky-blue-200 {
  background-color: var(--sky-blue-200);
}
.bg-sky-blue-400 {
  background-color: var(--sky-blue-400);
}
.bg-sky-blue-500 {
  background-color: var(--sky-blue-500);
}
.bg-sky-blue-600 {
  background-color: var(--sky-blue-600);
}
.bg-sky-blue-700 {
  background-color: var(--sky-blue-700);
}
.bg-sky-blue-800 {
  background-color: var(--sky-blue-800);
}
.bg-sky-blue-900 {
  background-color: var(--sky-blue-900);
}


.bg-blue-50 {
  background-color: var(--blue-50);
}
.bg-blue-100 {
  background-color: var(--blue-100);
}
.bg-blue-200 {
  background-color: var(--blue-200);
}
.bg-blue-300 {
  background-color: var(--blue-300);
}
.bg-blue-400 {
  background-color: var(--blue-400);
}
.bg-blue-500 {
  background-color: var(--blue-500);
}
.bg-blue-600 {
  background-color: var(--blue-600);
}
.bg-blue-700 {
  background-color: var(--blue-700);
}
.bg-blue-800 {
  background-color: var(--blue-800);
}
.bg-blue-900 {
  background-color: var(--blue-900);
}


.bg-green-50 {
  background-color: var(--green-50);
}
.bg-green-100 {
  background-color: var(--green-100);
}
.bg-green-200 {
  background-color: var(--green-200);
}
.bg-green-300 {
  background-color: var(--green-300);
}
.bg-green-400 {
  background-color: var(--green-400);
}
.bg-green-500 {
  background-color: var(--green-500);
}
.bg-green-600 {
  background-color: var(--green-600);
}
.bg-green-700 {
  background-color: var(--green-700);
}
.bg-green-800 {
  background-color: var(--green-800);
}
.bg-green-900 {
  background-color: var(--green-900);
}


.bg-yellow-50 {
  background-color: var(--yellow-50);
}
.bg-yellow-100 {
  background-color: var(--yellow-100);
}
.bg-yellow-200 {
  background-color: var(--yellow-200);
}
.bg-yellow-300 {
  background-color: var(--yellow-300);
}
.bg-yellow-400 {
  background-color: var(--yellow-400);
}
.bg-yellow-500 {
  background-color: var(--yellow-500);
}
.bg-yellow-600 {
  background-color: var(--yellow-600);
}
.bg-yellow-700 {
  background-color: var(--yellow-700);
}
.bg-yellow-800 {
  background-color: var(--yellow-800);
}
.bg-yellow-900 {
  background-color: var(--yellow-900);
}


.bg-red-50 {
  background-color: var(--red-50);
}
.bg-red-100 {
  background-color: var(--red-100);
}
.bg-red-200 {
  background-color: var(--red-200);
}
.bg-red-300 {
  background-color: var(--red-300);
}
.bg-red-400 {
  background-color: var(--red-400);
}
.bg-red-500 {
  background-color: var(--red-500);
}
.bg-red-600 {
  background-color: var(--red-600);
}
.bg-red-700 {
  background-color: var(--red-700);
}
.bg-red-800 {
  background-color: var(--red-800);
}
.bg-red-900 {
  background-color: var(--red-900);
}


.bg-orange-50 {
  background-color: var(--orange-50);
}
.bg-orange-100 {
  background-color: var(--orange-100);
}
.bg-orange-200 {
  background-color: var(--orange-200);
}
.bg-orange-300 {
  background-color: var(--orange-300);
}
.bg-orange-400 {
  background-color: var(--orange-400);
}
.bg-orange-500 {
  background-color: var(--orange-500);
}
.bg-orange-600 {
  background-color: var(--orange-600);
}
.bg-orange-700 {
  background-color: var(--orange-700);
}
.bg-orange-800 {
  background-color: var(--orange-800);
}
.bg-orange-900 {
  background-color: var(--orange-900);
}

.bg-teal-50 {
  background-color: var(--teal-50);
}
.bg-teal-100 {
  background-color: var(--teal-100);
}
.bg-teal-200 {
  background-color: var(--teal-200);
}
.bg-teal-300 {
  background-color: var(--teal-300);
}
.bg-teal-400 {
  background-color: var(--teal-400);
}
.bg-teal-500 {
  background-color: var(--teal-500);
}
.bg-teal-600 {
  background-color: var(--teal-600);
}
.bg-teal-700 {
  background-color: var(--teal-700);
}
.bg-teal-800 {
  background-color: var(--teal-800);
}
.bg-teal-900 {
  background-color: var(--teal-900);
}


.bg-teal-blue-50 {
  background-color: var(--teal-blue-50);
}
.bg-teal-blue-100 {
  background-color: var(--teal-blue-100);
}
.bg-teal-blue-200 {
  background-color: var(--teal-blue-200);
}
.bg-teal-blue-400 {
  background-color: var(--teal-blue-400);
}
.bg-teal-blue-500 {
  background-color: var(--teal-blue-500);
}
.bg-teal-blue-600 {
  background-color: var(--teal-blue-600);
}
.bg-teal-blue-700 {
  background-color: var(--teal-blue-700);
}
.bg-teal-blue-800 {
  background-color: var(--teal-blue-800);
}
.bg-teal-blue-900 {
  background-color: var(--teal-blue-900);
}


.bg-blue-purple-50 {
  background-color: var(--blue-purple-50);
}
.bg-blue-purple-100 {
  background-color: var(--blue-purple-100);
}
.bg-blue-purple-200 {
  background-color: var(--blue-purple-200);
}
.bg-blue-purple-400 {
  background-color: var(--blue-purple-400);
}
.bg-blue-purple-500 {
  background-color: var(--blue-purple-500);
}
.bg-blue-purple-600 {
  background-color: var(--blue-purple-600);
}
.bg-blue-purple-700 {
  background-color: var(--blue-purple-700);
}
.bg-blue-purple-800 {
  background-color: var(--blue-purple-800);
}
.bg-blue-purple-900 {
  background-color: var(--blue-purple-900);
}


.bg-violet-50 {
  background-color: var(--violet-50);
}
.bg-violet-100 {
  background-color: var(--violet-100);
}
.bg-violet-200 {
  background-color: var(--violet-200);
}
.bg-violet-300 {
  background-color: var(--violet-300);
}
.bg-violet-400 {
  background-color: var(--violet-400);
}
.bg-violet-500 {
  background-color: var(--violet-500);
}
.bg-violet-600 {
  background-color: var(--violet-600);
}
.bg-violet-700 {
  background-color: var(--violet-700);
}
.bg-violet-800 {
  background-color: var(--violet-800);
}
.bg-violet-900 {
  background-color: var(--violet-900);
}


.bg-mulberry-50 {
  background-color: var(--mulberry-50);
}
.bg-mulberry-100 {
  background-color: var(--mulberry-100);
}
.bg-mulberry-200 {
  background-color: var(--mulberry-200);
}
.bg-mulberry-400 {
  background-color: var(--mulberry-400);
}
.bg-mulberry-500 {
  background-color: var(--mulberry-500);
}
.bg-mulberry-600 {
  background-color: var(--mulberry-600);
}
.bg-mulberry-700 {
  background-color: var(--mulberry-700);
}
.bg-mulberry-800 {
  background-color: var(--mulberry-800);
}
.bg-mulberry-900 {
  background-color: var(--mulberry-900);
}


.bg-navy-50 {
  background-color: var(--navy-50);
}
.bg-navy-100 {
  background-color: var(--navy-100);
}
.bg-navy-200 {
  background-color: var(--navy-200);
}
.bg-navy-300 {
  background-color: var(--navy-300);
}
.bg-navy-400 {
  background-color: var(--navy-400);
}
.bg-navy-500 {
  background-color: var(--navy-500);
}
.bg-navy-600 {
  background-color: var(--navy-600);
}
.bg-navy-700 {
  background-color: var(--navy-700);
}
.bg-navy-800 {
  background-color: var(--navy-800);
}
.bg-navy-900 {
  background-color: var(--navy-900);
}


.bg-pink-50 {
  background-color: var(--pink-50);
}
.bg-pink-100 {
  background-color: var(--pink-100);
}
.bg-pink-200 {
  background-color: var(--pink-200);
}
.bg-pink-300 {
  background-color: var(--pink-300);
}
.bg-pink-400 {
  background-color: var(--pink-400);
}
.bg-pink-500 {
  background-color: var(--pink-500);
}
.bg-pink-600 {
  background-color: var(--pink-600);
}
.bg-pink-700 {
  background-color: var(--pink-700);
}
.bg-pink-800 {
  background-color: var(--pink-800);
}
.bg-pink-900 {
  background-color: var(--pink-900);
}


.bg-blue-green-50 {
  background-color: var(--blue-green-50);
}
.bg-blue-green-100 {
  background-color: var(--blue-green-100);
}
.bg-blue-green-200 {
  background-color: var(--blue-green-200);
}
.bg-blue-green-400 {
  background-color: var(--blue-green-400);
}
.bg-blue-green-500 {
  background-color: var(--blue-green-500);
}
.bg-blue-green-600 {
  background-color: var(--blue-green-600);
}
.bg-blue-green-700 {
  background-color: var(--blue-green-700);
}
.bg-blue-green-800 {
  background-color: var(--blue-green-800);
}
.bg-blue-green-900 {
  background-color: var(--blue-green-900);
}



.hover\:bg-blue-50:hover { 
	background-color: var(--blue-50); 
}

.hover\:bg-blue-100:hover {
  background-color: var(--blue-100);
}
.hover\:bg-blue-200:hover {
  background-color: var(--blue-200);
}
.hover\:bg-blue-600:hover { 
  background-color: var(--blue-600);
}

.hover\:bg-gray-50:hover { 
  background-color: var(--gray-50);
}

.hover\:bg-gray-100:hover { 
  background-color: var(--gray-100);
}

.hover\:bg-green-600:hover {
  background-color: var(--green-600);
} 

.hover\:bg-sky-blue-50:hover {
  background-color: var(--sky-blue-50);
}
.hover\:bg-sky-blue-100:hover {
  background-color: var(--sky-blue-100);
}
.hover\:bg-sky-blue-500:hover {
  background-color: var(--sky-blue-500);
}
.hover\:bg-sky-blue-600:hover {
  background-color: var(--sky-blue-600);
}


.hover\:bg-slate-50:hover {
  background-color: var(--slate-50);
}
.hover\:bg-slate-100:hover {
  background-color: var(--slate-100);
}
.hover\:bg-slate-200:hover {
  background-color: var(--slate-200);
}
.hover\:bg-slate-300:hover {
  background-color: var(--slate-300);
}
.hover\:bg-slate-400:hover {
  background-color: var(--slate-400);
}
.hover\:bg-slate-500:hover {
  background-color: var(--slate-500);
}
.hover\:bg-slate-600:hover {
  background-color: var(--slate-600);
}
.hover\:bg-slate-700:hover {
  background-color: var(--slate-700);
}
.hover\:bg-slate-800:hover {
  background-color: var(--slate-800);
}
.hover\:bg-slate-900:hover {
  background-color: var(--slate-900);
}


.active\:bg-blue-100:active { 
	background-color: var(--blue-100); 
}
.active\:bg-blue-200:active {
  background-color: var(--blue-200);
}

.active\:bg-blue-700:active{ 
  background-color: var(--blue-700);
}

.active\:bg-gray-100:active { 
	background-color: var(--gray-100); 
}

.active\:bg-gray-200:active { 
	background-color: var(--gray-200); 
}

.active\:bg-green-700:active {
  background-color: var(--green-700);
}


.active\:bg-sky-blue-50:active {
  background-color: var(--sky-blue-50);
}
.active\:bg-sky-blue-100:active {
  background-color: var(--sky-blue-100);
}
.active\:bg-sky-blue-200:active {
  background-color: var(--sky-blue-200);
}
.active\:bg-sky-blue-400:active {
  background-color: var(--sky-blue-400);
}
.active\:bg-sky-blue-500:active {
  background-color: var(--sky-blue-500);
}
.active\:bg-sky-blue-600:active {
  background-color: var(--sky-blue-600);
}
.active\:bg-sky-blue-700:active {
  background-color: var(--sky-blue-700);
}
.active\:bg-sky-blue-800:active {
  background-color: var(--sky-blue-800);
}
.active\:bg-sky-blue-900:active {
  background-color: var(--sky-blue-900);
}


.active\:bg-slate-50:active {
  background-color: var(--slate-50);
}
.active\:bg-slate-100:active {
  background-color: var(--slate-100);
}
.active\:bg-slate-200:active {
  background-color: var(--slate-200);
}
.active\:bg-slate-300:active {
  background-color: var(--slate-300);
}
.active\:bg-slate-400:active {
  background-color: var(--slate-400);
}
.active\:bg-slate-500:active {
  background-color: var(--slate-500);
}
.active\:bg-slate-600:active {
  background-color: var(--slate-600);
}
.active\:bg-slate-700:active {
  background-color: var(--slate-700);
}
.active\:bg-slate-800:active {
  background-color: var(--slate-800);
}
.active\:bg-slate-900:active {
  background-color: var(--slate-900);
}

button:disabled {
  background-color: var(--gray-100);
  color: var(--slate-500);
}


.focus\:bg-blue-500:focus {
  outline: none;
  box-shadow: 0 0 0 4px var(--blue-200, #96C0FF);
}

.focus\:bg-slate-800:focus {
  outline: none;
  box-shadow: 0 0 0 4px var(--slate-200, #B8BFCA);
}





/*==== spacing (gap 유틸리티는 gap-* 클래스 사용) ====*/



/*==== height s ====*/
.height-100-per {
  height: 100%;
}
.fit-height {
  height: fit-content;
}
.height-calc-68 {
  height: calc(100% - 6.8rem);
}
.min-height-calc-20 {
  min-height: calc(100% - 20.91rem);
}
.min-height-calc-50 {
  min-height: calc(100vh - 5.5rem);
}
.min-height-calc-54 {
  min-height: calc(100vh - 5.4rem);
}
.height-fill-available {
  height: -webkit-fill-available;
}
.height-calc-50 {
  height: calc(100% / 5);
}
.min-height-42 {
  min-height: 42rem;
}
.height-100vh {
  height: 100vh;
}
.height-780 {
  height: 78rem;
}
.height-min-4 {
  min-height: 4rem;
}
.height-668 {
  height: 66.8rem;
}
.height-560 {
  height: 56rem;
}
.height-510 {
  height: 51rem;
}
.height-360 {
  height: 36rem;
}
.height-350 {
  height: 35rem;
}
.height-300 {
  height: 30rem;
}
.height-200 {
  height: 20rem;
}
.height-220 {
  height: 22rem;
}
.height-250 {
  height: 25rem;
}
.height-170 {
  height: 17rem;
}
.height-120 {
  height: 12rem;
}
.height-100 {
  height: 10rem;
}
.height-90 {
  height: 9rem;
}
.height-84 {
  height: 8.4rem;
}
.height-76 {
  height: 7.6rem;
}
.height-68 {
  height: 6.8rem;
}
.height-64 {
  height: 6.4rem;
}
.height-62 {
  height: 6.2rem;
}
.height-60 {
  height: 6rem;
}
.height-58 {
  height: 5.8rem;
}
.height-56 {
  height: 5.6rem;
}
.height-54 {
  height: 5.4rem;
}
.height-48 {
  height: 4.8rem;
}
.height-46 {
  height: 4.6rem;
}
.height-42 {
  height: 4.2rem;
} 
.height-40 {
  height: 4rem;
} 
.height-36 {
  height: 3.6rem;
} 
.height-30 {
  height: 3rem;
} 
.height-32 {
  height: 3.2rem;
} 
.height-28 {
  height: 2.8rem;
} 
.height-24 {
  height: 2.4rem;
} 
.height-20 {
  height: 2rem;
} 
.height-18 {
  height: 1.8rem;
} 
.height-16 {
  height: 1.6rem;
} 
.height-14 {
  height: 1.4rem;
} 
.height-12 {
  height: 1.2rem;
} 
.height-10 {
  height: 1rem;
} 
.height-1 {
  height: 1px;
} 
.height-0 {
  height: 0;
} 
/*==== height e ====*/



.fit-width {
  width: fit-content;
}
.width-100-per {
  width: 100%;
}
.width-50-per {
  width: 50%;
}
.width-60-per {
  width: 60%;
}
.width-70-per {
  width: 70%;
}
.width-800 {
  width: 80rem;
}
.width-700 {
  width: 70rem;
}
.width-600 {
  width: 60rem;
}
.width-316 {
  width: 31.6rem;
}
.width-480 {
  width: 48rem;
}
.width-450 {
  width: 45rem;
}
.width-400 {
  width: 40rem;
}
.width-320 {
  width: 32rem;
}
.width-350 {
  width: 35rem;
}
.width-330 {
  width: 33rem;
}
.width-300 {
  width: 30rem;
}
.width-228 {
  width: 22.8rem;
}
.width-240 {
  width: 24rem;
}
.width-270 {
  width: 27rem;
}
.width-228 {
  width: 22.8rem;
}
.width-220 {
  width: 22rem;
}
.width-200 {
  width: 20rem;
}
.width-160 {
  width: 16rem;
}
.width-154 {
  width: 15.4rem;
}
.width-150 {
  width: 15rem;
}
.width-140 {
  width: 14rem;
}
.width-130 {
  width: 13rem;
}
.width-126 {
  width: 12.6rem;
}
.width-120 {
  width: 12rem;
}
.width-100 {
  width: 10rem;
}
.width-90 {
  width: 9rem;
}
.width-80 {
  width: 8rem;
}
.width-72 {
  width: 7.2rem;
}
.width-70 {
  width: 7rem;
}
.width-64 {
  width: 6.4rem;
}
.width-56 {
  width: 5.6rem;
}
.width-54 {
  width: 5.4rem;
}
.width-50 {
  width: 5rem;
}
.width-48 {
  width: 4.8rem;
}
.width-42 {
  width: 4.2rem;
}
.width-40 {
  width: 4rem;
}
.width-36 {
  width: 3.6rem;
}
.width-32 {
  width: 3.2rem;
}
.width-30 {
  width: 3rem;
}
.width-28 {
  width: 2.8rem;
}
.width-24 {
  width: 2.4rem;
}
.width-20 {
  width: 2rem;
}
.width-18 {
  width: 1.8rem;
}
.width-16 {
  width: 1.6rem;
}
.width-14 {
  width: 1.4rem;
}
.width-10 {
  width: 1rem;
}
.width-1 {
  width: .1rem;
}
.width-0 {
  width: 0;
}



/*==== padding s ====*/
.padding-2-w {
  padding: 0 var(--spacing-2);
}
.padding-4-w {
  padding: 0 var(--spacing-4);
}
.padding-6-w {
  padding: 0 var(--spacing-6);
}
.padding-8-w {
  padding: 0 var(--spacing-8);
}
.padding-10-w {
  padding: 0 var(--spacing-10);
}
.padding-12-w {
  padding: 0 var(--spacing-12);
}
.padding-14-w {
  padding: 0 var(--spacing-14);
}
.padding-16-w {
  padding: 0 var(--spacing-16);
}
.padding-20-w {
  padding: 0 var(--spacing-20);
}
.padding-24-w {
  padding: 0 var(--spacing-24);
}
.padding-26-w {
  padding: 0 var(--spacing-26);
}
.padding-28-w {
  padding: 0 var(--spacing-28);
}
.padding-32-w {
  padding: 0 var(--spacing-32);
}
.padding-40-w {
  padding: 0 var(--spacing-40);
}

.padding-2-b {
  padding-bottom: var(--spacing-2);
}
.padding-4-b {
  padding-bottom: var(--spacing-4);
}
.padding-6-b {
  padding-bottom: var(--spacing-6);
}
.padding-8-b {
  padding-bottom: var(--spacing-8);
}
.padding-10-b {
  padding-bottom: var(--spacing-10);
}
.padding-12-b {
  padding-bottom: var(--spacing-12);
}
.padding-16-b {
  padding-bottom: var(--spacing-16);
}
.padding-20-b {
  padding-bottom: var(--spacing-20);
}
.padding-24-b {
  padding-bottom: var(--spacing-24);
}
.padding-28-b {
  padding-bottom: var(--spacing-28);
}
.padding-32-b {
  padding-bottom: var(--spacing-32);
}
.padding-40-b {
  padding-bottom: var(--spacing-40);
}
.padding-48-b {
  padding-bottom: var(--spacing-48);
}
.padding-50-b {
  padding-bottom: var(--spacing-50);
}
.padding-60-b {
  padding-bottom: var(--spacing-60);
}
.padding-80-b {
  padding-bottom: var(--spacing-80);
}
.padding-100-b {
  padding-bottom: 10rem;
}

.padding-2-t {
  padding-top: var(--spacing-2);
}
.padding-4-t {
  padding-top: var(--spacing-4);
}
.padding-6-t {
  padding-top: var(--spacing-6);
}
.padding-8-t {
  padding-top: var(--spacing-8);
}
.padding-10-t {
  padding-top: var(--spacing-10);
}
.padding-12-t {
  padding-top: var(--spacing-12);
}
.padding-16-t {
  padding-top: var(--spacing-16);
}
.padding-20-t {
  padding-top: var(--spacing-20);
}
.padding-24-t {
  padding-top: var(--spacing-24);
}
.padding-28-t {
  padding-top: var(--spacing-28);
}
.padding-32-t {
  padding-top: var(--spacing-32);
}
.padding-40-t {
  padding-top: var(--spacing-40);
}
.padding-48-t {
  padding-top: var(--spacing-48);
}
.padding-50-t {
  padding-top: var(--spacing-50);
}
.padding-60-t {
  padding-top: var(--spacing-60);
}
.padding-80-t {
  padding-top: var(--spacing-80);
}

.padding-32-r {
  padding-right: var(--spacing-32);
}
.padding-28-r {
  padding-right: var(--spacing-28);
}
.padding-24-r {
  padding-right: var(--spacing-24);
}
.padding-20-r {
  padding-right: var(--spacing-20);
}
.padding-18-r {
  padding-right: var(--spacing-18);
}
.padding-16-r {
  padding-right: var(--spacing-16);
}
.padding-10-r {
  padding-right: var(--spacing-10);
}
.padding-8-r {
  padding-right: var(--spacing-8);
}
.padding-4-r {
  padding-right: var(--spacing-4);
}

.padding-32-l {
  padding-left: var(--spacing-32);
}
.padding-16-l {
  padding-left: var(--spacing-16);
}
.padding-20-l {
  padding-left: var(--spacing-20);
}


.padding-32-all {
  padding: var(--spacing-32);
}
.padding-24-all {
  padding: var(--spacing-24);
}
.padding-20-all {
  padding: var(--spacing-20);
}
.padding-16-all {
  padding: var(--spacing-16);
}
.padding-12-all {
  padding: var(--spacing-12);
}
.padding-10-all {
  padding: var(--spacing-10);
}
.padding-8-all {
  padding: var(--spacing-8);
}
.padding-4-all {
  padding: var(--spacing-4);
}
.padding-2-all {
  padding: var(--spacing-2);
}
.padding-0-all {
  padding: 0;
}
/*==== padding e ====*/


/*==== margin s ====*/
.margin-4-r {
  margin-right: var(--spacing-4);
}
.margin-8-r {
  margin-right: var(--spacing-8);
}
.margin-8-b {
  margin-bottom: var(--spacing-8);
}
.margin-12-b {
  margin-bottom: var(--spacing-12);
}
.margin-4-t {
  margin-top: var(--spacing-4);
}
.margin-6-t {
  margin-top: var(--spacing-6);
}
.margin-8-t {
  margin-top: var(--spacing-8);
}
.margin-20-w {
  margin: 0 var(--spacing-20);
}
/* margin e ====*/


/*==== border radius s ====*/
.radius-xs-2 {
  border-radius: var(--radius-xs-2);
}
.radius-sm-4 {
  border-radius: var(--radius-sm-4);
}
.radius-md-6 {
  border-radius: var(--radius-md-6);
}
.radius-md-8 {
  border-radius: var(--radius-md-8);
}
.radius-lg-16 {
  border-radius: var(--radius-lg-16);
}
.radius-full {
  border-radius: var(--radius-full);
}
/*==== border radius e ====*/



/*==== border s ====*/
.border-none {
  border: none;
}
.border-right-gray-200  {
  border-right: 1px solid var(--slate-200);
}
.border-left-gray-200 {
  border-left: 1px solid var(--gray-200);
}
.border-top-gray-200 {
  border-top: 1px solid var(--gray-200);
}
.border-top-gray-900 {
  border-top: 1px solid var(--gray-900);
}

.border-right-slate-200  {
  border-right: 1px solid var(--slate-200);
}
.border-left-slate-200 {
  border-left: 1px solid var(--slate-200);
}
.border-top-slate-200 {
  border-top: 1px solid var(--slate-200);
}
.border-top-slate-900 {
  border-top: 1px solid var(--slate-900);
}

.border-bottom-gray-200 {
  border-bottom: 1px solid var(--gray-200);
}
.border-right-gray-300 {
  border-right: 1px solid var(--gray-300);
}
.border-left-gray-300 {
  border-left: 1px solid var(--gray-300);
}
.border-top-gray-300 {
  border-top: 1px solid var(--gray-300);
}
.border-bottom-gray-300 {
  border-bottom: 1px solid var(--gray-300);
}
.border-bottom-gray-900 {
  border-bottom: 1px solid var(--gray-900);
}

.border-bottom-slate-200 {
  border-bottom: 1px solid var(--slate-200);
}
.border-right-slate-300 {
  border-right: 1px solid var(--slate-300);
}
.border-left-slate-300 {
  border-left: 1px solid var(--slate-300);
}
.border-top-slate-300 {
  border-top: 1px solid var(--slate-300);
}
.border-bottom-slate-300 {
  border-bottom: 1px solid var(--slate-300);
}
.border-bottom-slate-900 {
  border-bottom: 1px solid var(--slate-900);
}


.border-slate-50 {
  border: 1px solid var(--slate-50);
}
.border-slate-100 {
  border: 1px solid var(--slate-100);
}
.border-slate-200 {
  border: 1px solid var(--slate-200);
}
.border-slate-300 {
  border: 1px solid var(--slate-300);
}
.border-slate-400 {
  border: 1px solid var(--slate-400);
}
.border-slate-500 {
  border: 1px solid var(--slate-500);
}
.border-slate-600 {
  border: 1px solid var(--slate-600);
}
.border-slate-700 {
  border: 1px solid var(--slate-700);
}
.border-slate-800 {
  border: 1px solid var(--slate-800);
}
.border-slate-900 {
  border: 1px solid var(--slate-900);
}


.border-gray-200 {
  border: 1px solid var(--gray-200);
}
.border-gray-300 {
  border: 1px solid var(--gray-300);
}
.border-gray-400 {
  border: 1px solid var(--gray-400);
}
.border-gray-500 {
  border: 1px solid var(--gray-500);
}
.border-gray-600 {
  border: 1px solid var(--gray-600);
}
.border-gray-700 {
  border: 1px solid var(--gray-700);
}
.border-gray-800 {
  border: 1px solid var(--gray-800);
}
.border-blue-500 {
  border: 1px solid var(--blue-500);
}
.border-green-500 {
  border: 1px solid var(--green-500);
}
.border-deep-pink-500 {
  border: 1px solid var(--deep-pink-500);
}
.border-yellow-500 {
  border: 1px solid var(--yellow-500);
}
.border-red-500 {
  border: 1px solid var(--red-500);
}
.border-purple-500 {
  border: 1px solid var(--purple-500);
}
.border-orange-500 {
  border: 1px solid var(--orange-500);
}
.border-cyan-500 {
  border: 1px solid var(--cyan-500);
}
.border-deep-green-500 {
  border: 1px solid var(--deep-green-500);
}
.border-teal-500 {
  border: 1px solid var(--teal-500);
}
.border-navy-500 {
  border: 1px solid var(--navy-500);
}
.border-yellow-700 {
  border: 1px solid var(--yellow-700);
}
/* border e ====*/

/* gap s ==== */
.gap-2 {
  gap: var(--spacing-2);
}
.gap-4 {
  gap: var(--spacing-4);
}
.gap-6 {
  gap: var(--spacing-6);
}
.gap-auto-8 {
  gap: 0 var(--spacing-8);
}
.gap-8 {
  gap: var(--spacing-8);
}
.gap-10 {
  gap: var(--spacing-10);
}
.gap-12 {
  gap: var(--spacing-12);
}
.gap-14 {
  gap: var(--spacing-14);
}
.gap-16 {
  gap: var(--spacing-16);
}
.gap-20 {
  gap: var(--spacing-20);
}
.gap-24 {
  gap: var(--spacing-24);
}
.gap-auto-24 {
  gap: 0 var(--spacing-24);
}
.gap-28 {
  gap: var(--spacing-28);
}
.gap-32 {
  gap: var(--spacing-32);
}
.gap-40 {
  gap: var(--spacing-40);
}
.gap-48 {
  gap: var(--spacing-48);
}
/* gap e ====*/

/*==== grid s ====*/
.grid-column-default {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: clamp(var(--spacing-24), calc(-35.08px + 5.77vw), var(--spacing-48));
}
.grid-column-sub-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0 var(--spacing-20);
}
.grid-column-sub-8 {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 0 var(--spacing-20);
}
.grid-column-sub-9 {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  gap: 0 var(--spacing-24);
}
/*==== grid e ====*/



/* gridcolumn s ====*/
.grid-column-1 {
  grid-column: span 1 / auto;
}
.grid-column-2 {
  grid-column: span 2 / auto;
}
.grid-column-3 {
  grid-column: span 3 / auto;
}
.grid-column-4 {
  grid-column: span 4 / auto;
}
.grid-column-5 {
  grid-column: span 5 / auto;
}
.grid-column-6 {
  grid-column: span 6 / auto;
}
.grid-column-7 {
  grid-column: span 7 / auto;
}
.grid-column-8 {
  grid-column: span 8 / auto;
}
.grid-column-9 {
  grid-column: span 9 / auto;
}
.grid-column-10 {
  grid-column: span 10 / auto;
}
.grid-column-11 {
  grid-column: span 11 / auto;
}
.grid-column-12 {
  grid-column: span 12 / auto ;
}
/* gridcolumn e ====*/


/* gridrow s ====*/
.grid-row-1 {
  grid-row: span 1 / auto;
}
.grid-row-2 {
  grid-row: span 2 / auto;
}
.grid-row-3 {
  grid-row: span 3 / auto;
}
.grid-row-4 {
  grid-row: span 4 / auto;
}
.grid-row-5 {
  grid-row: span 5 / auto;
}
.grid-row-6 {
  grid-row: span 6 / auto;
}
.grid-row-7 {
  grid-row: span 7 / auto;
}
.grid-row-8 {
  grid-row: span 8 / auto;
}
.grid-row-9 {
  grid-row: span 9 / auto;
}
.grid-row-10 {
  grid-row: span 10 / auto;
}
.grid-row-11 {
  grid-row: span 11 / auto;
}
.grid-row-12 {
  grid-row: span 12 / auto;
}
/* gridrow e ====*/


/*==== display s ====*/
.display-none {
  display: none;
}
.block {
  display: block;
}
.inline-block {
  display: inline-block;
}
.flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.flex-row {
  flex-direction: row;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-nowrap {
  flex-wrap: nowrap;
}
.flex-center {
  justify-content: center;
  align-items: center;
}
.flex-between {
  justify-content: space-between;
  align-items: center;
}
.flex-around {
  justify-content: space-around;
  align-items: center;
}
.flex-start {
  justify-content: flex-start;
  align-items: center;
}
.flex-end {
  justify-content: flex-end;
  align-items: center;
}
.flex-baseline {
  align-items: baseline;
}
.flex-stretch {
  align-items: stretch;
}
.flex-direction-reverse {
  flex-direction: row-reverse;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.justify-around {
  justify-content: space-around;
}
.justify-start {
  justify-content: flex-start;
}
.align-center {
  align-items: center;
}
.align-start {
  align-items: flex-start;
}
.align-end {
  align-items: flex-end;
}
.align-baseline {
  align-items: baseline;
}
.align-stretch {
  align-items: stretch;
}
.flex-48 {
  flex: 0 0 4.8rem;
}
.flex-100 {
  flex: 0 0 10rem;
}
.flex-01 {
  flex: .1 0;
} 
.flex-02 {
  flex: .2 0;
} 
.flex-03 {
  flex: .3 0;
} 
.flex-04 {
  flex: .4 0;
} 
.flex-05 {
  flex: .5 0;
} 
.flex-05-calc {
  flex: 0 0 calc(100%/2 - 1.2rem)
}
.flex-03-05-calc {
  flex: 0 0 calc(100%/3 - 1.6rem)
}
.flex-05-16-calc {
  flex: 0 0 calc(100%/2 - .8rem)
}
.flex-06 {
  flex: .6 0;
} 
.flex-07 {
  flex: .7 0;
} 
.flex-08 {
  flex: .8 0;
} 
.flex-09 {
  flex: .9 0;
} 
.flex-1-40 {
  flex: 1 0 40%;
}
.flex-1-50 {
  flex: 1 0 50%;
}
.flex-calc-50-8 {
  flex: 0 0 calc(50% - 1.6rem);
}
.flex-calc-50-2 {
  flex: 0 0 calc(50% - .4rem);
}
.flex-1-100 {
  flex: 1 0 100%;
}
.flex-auto {
  flex: 1 1 auto;
}
.flex-14 {
  flex: 0 0 1.4rem;
}
.flex-0-auto {
  flex: 0 0 auto;
}
.flex-default {
  flex: 1 0;
}

.flex-col-4 {
  flex: 1 0 calc(100% / 4 - 1.8rem);
  min-width: 18rem;
}
.flex-col-3 {
  flex: 1 0 calc(100% / 3 - 1.8rem);
  min-width: 18rem;
  max-width: 31rem;
}
.hidden {
  display: none;
}
/* display e ====*/


/* position s =====*/
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.fixed {
  position: fixed;
}
.sticky {
  position: sticky;
}

.top-0 {
  top: 0;
}
.top-8 {
  top: .8rem;
}
.top-16 {
  top: 1.6rem;
}
.top-32 {
  top: 3.2rem;
}
.top-42 {
  top: 4.2rem;
}
.top-54 {
  top: 5.4rem;
}
.top-56 {
  top: 5.6rem;
}
.top-66 {
  top: 6.6rem;
}
.top-132 {
  top: 13.2rem;
}
.top-220 {
  top: 22rem;
}
.top-50-per {
  top: 50%;
}
.top-100-per {
  top: 100%;
}

.left-0 {
  left: 0;
}
.left-16 {
  left: 1.6rem;
}
.left-32 {
  left: 3.2rem;
}
.left-72 {
  left: 7.2rem;
}
.left-50-per {
  left: 50%;
}

.right-0 {
  right: 0;
}
.right-8 {
  right: .8rem;
}
.right-32 {
  right: 3.2rem;
}
.right-16 {
  right: 1.6rem;
}
.right-66 {
  right: 6.6rem;
}
.right-50-per {
  right: 50%;
}

.bottom-0 {
  bottom: 0;
}
.bottom-16 {
  bottom: 1.6rem;
}
.bottom-32 {
  bottom: 3.2rem;
}

/* position e =====*/


/* overflow s ==== */
.overflow-hidden {
  overflow: hidden;
}
.overflow-auto {
  overflow: auto;
}
/* overflow e ==== */


/* z-index s ==== */
.z-index-1 {
  z-index: 1;
}
.z-index-2 {
  z-index: 2;
}
.z-index-3 {
  z-index: 3;
}
.z-index-4 {
  z-index: 4;
}
.z-index-5 {
  z-index: 5;
}
.z-index-6 {
  z-index: 6;
}
.z-index-7 {
  z-index: 7;
}
.z-index-8 {
  z-index: 8;
}
.z-index-9 {
  z-index: 9;
}
.z-index-10 {
  z-index: 10;
}
.z-index-18 {
  z-index: 18;
}
.z-index-20 {
  z-index: 20;
}
.z-index-30 {
  z-index: 30;
}
.z-index-100 {
  z-index: 100;
}
/* z-index e ==== */


/*==== transition ====*/
.transition-ease {
  transition: all 0.6s ease;
}
.transition-ease-in {
  transition: all 0.6s ease-in;
}
.transition-ease-cubic {
  transition: all 0.6s cubic-bezier(0.52, -0.29, 0.44, 1.35);
}
.transition-ease-out {
  transition: all 0.6s ease-out;
}
/*==== transition ====*/


/* cursor s ==== */
.cursor-pointer {
  cursor: pointer;
}
.cursor-move {
  cursor: move;
}
/* cursor e ==== */


/* text style s ==== */
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-justify {
  text-align: justify;
}
.text-nowrap {
  white-space: nowrap;
}
.text-wrap {
  white-space: wrap;
}
/* text style e ==== */


/* transform s ==== */
.transform-translate-x-100-per {
  transform: translateX(100%);
}
.transform-translate-x-50-per {
  transform: translateX(-50%);
}
.transform-translate-y-100-per {
  transform: translateY(100%);
}
.translate-xy-50-per {
  transform: translate(-50%, -50%);
}
.transform-translate-y-50-per {
  transform: translateY(-50%);
}
.transform-16 {
  transform: translateX(1.6rem);
}
/* transform e ==== */


/* transform s */
.transform-rotate-0 {
  transform: rotate(0deg);
}
.transform-rotate-90 {
  transform: rotate(90deg);
}
.transform-rotate-minus-90 {
  transform: rotate(-90deg);
}
.transform-rotate-180 {
  transform: rotate(180deg);
}
/* transform e */


/* object-fit s ==== */
.object-fit-cover {
  object-fit: cover;
}
.scale-down { 
  object-fit: scale-down;
}
.object-fit-contain { 
  object-fit: contain;
}
/* object-fit e ==== */

/* float s*/
.float-none {
  float: none;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
/* float e*/


/* vertical-align s */
.vertical-top {
  vertical-align: top;
}
.vertical-middle {
  vertical-align: middle;
}
.vertical-bottom {
  vertical-align: bottom;
}
/* vertical-align e */


/* visibility s */
.visibility-hidden {
  visibility: hidden;
}
.visibility-visible {
  visibility: visible;
}
/* visibility e */



/* input warpper */
.input-wrapper {
  &:focus-within {
    border-color: var(--blue-500);
  }
  &:active {
    border-color: var(--blue-500);
  }
  &:hover {
    border-color: var(--blue-500);
  }
}