.arrow-icon {
  background: url(../image/icon/arrow-90deg-gray-900.svg) center center / contain no-repeat;
  width: 2.4rem;
  height: 2.4rem;
}
.search-icon {
  background: url(../image/icon/search.svg) center center / contain no-repeat;
  width: 3rem;
  height: 3rem;
}

/* 패스워드 사용시 아이콘 s */
.eye-icon {
  background: url(../image/icon/eye-closed.png) center center / contain no-repeat ;
  width: 2.4rem;
  height: 2.4rem;
}
.eye-icon.active {
  background: url(../image/icon/eye-open.png) center center / contain no-repeat;
}
/* 패스워드 사용시 아이콘 e */



/* 달력 아이콘 s */
.calendar-icon {
  background: url(../image/icon/calendar.svg) center center / contain no-repeat;
  width: 2.4rem;
  height: 2.4rem;
}
/* 달력 아이콘 e */


/* button arrow icon */
.arrow-right-white {
  background: url(../image/icon/chevron-right-white.svg) center center / contain no-repeat;
  display: block;
  width: 2.4rem;
  height: 2.4rem;
}