:root {
  /* ==== color ==== */
  --white: #fff;
  --black: #000;
  --gray-50: #F4F5F6;
  --gray-100: #E6E8EA;
  --gray-200: #CDD1D5;
  --gray-300: #B1B8BE;
  --gray-400: #8A949E;
  --gray-500: #6D7882;
  --gray-600: #58616A;
  --gray-700: #464C53;
  --gray-800: #33363D;
  --gray-900: #1E2124;
  --blue-50: #e8f1ff;
  --blue-100: #b8d5ff;
  --blue-200: #96c0ff;
  --blue-300: #66a3ff;
  --blue-400: #4891ff;
  --blue-500: #1a76ff;
  --blue-600: #186be8;
  --blue-700: #1254b5;
  --blue-800: #0e418c;
  --blue-900: #0b326b;
  --green-50: #ebf9f2;
  --green-100: #c1ebd5;
  --green-200: #a3e1c1;
  --green-300: #7ad3a5;
  --green-400: #60cb93;
  --green-500: #38be78;
  --green-600: #33ad6d;
  --green-700: #288755;
  --green-800: #1f6942;
  --green-900: #185032;
  --deep-pink-50: #F6ECF3;
  --deep-pink-100: #E4C4DA;
  --deep-pink-200: #D7A8C9;
  --deep-pink-300: #C580B0;
  --deep-pink-400: #BA68A1;
  --deep-pink-500: #A94289;
  --deep-pink-600: #9A3C7D;
  --deep-pink-700: #782F61;
  --deep-pink-800: #5D244B;
  --deep-pink-900: #471C3A;
  --yellow-50: #FEFAEC;
  --yellow-100: #fffbc5;
  --yellow-200: #fff9a9;
  --yellow-300: #F9BE5B;
  --yellow-400: #fff56a;
  --yellow-500: #fff345;
  --yellow-600: #e8dd3f;
  --yellow-700: #B08E2D;
  --yellow-800: #8c8626;
  --yellow-900: #6b661d;
  --red-50: #fde6e9;
  --red-100: #f7b0bb;
  --red-200: #f48a9a;
  --red-300: #ee546c;
  --red-400: #eb334f;
  --red-500: #e60023;
  --red-600: #d10020;
  --red-700: #a30019;
  --red-800: #7f0013;
  --red-900: #61000f;
  --purple-50: #f8f0fb;
  --purple-100: #ead1f3;
  --purple-200: #e0bbee;
  --purple-300: #d19ce6;
  --purple-400: #c989e1;
  --purple-500: #bb6bd9;
  --purple-600: #aa61c5;
  --purple-700: #854c9a;
  --purple-800: #673b77;
  --purple-900: #4f2d5b;
  --orange-50: #fef3e8;
  --orange-100: #fce1b3;
  --orange-200: #fbd28e;
  --orange-300: #f9be5b;
  --orange-400: #f8b13b;
  --orange-500: #f69e0a;
  --orange-600: #e09009;
  --orange-700: #af7007;
  --orange-800: #875706;
  --orange-900: #674204;
  --cyan-50: #E7FBFC;
  --cyan-100: #B5F2F7;
  --cyan-200: #91ECF3;
  --cyan-300: #5FE3EE;
  --cyan-400: #40DDEA;
  --cyan-500: #10D5E5;
  --cyan-600: #0FC2D0;
  --cyan-700: #0B97A3;
  --cyan-800: #09757E;
  --cyan-900: #075960;
  --deep-green-50: #EDF6F8;
  --deep-green-100: #D5EBF1;
  --deep-green-200: #BBD8C0;
  --deep-green-300: #75C0D1;
  --deep-green-400: #3D9FB8;
  --deep-green-500: #268097;
  --deep-green-600: #1F687A;
  --deep-green-700: #17505E;
  --deep-green-800: #113B45;
  --deep-green-900: #0E3139;
  --teal-50: #ECF3F2;
  --teal-100: #C3DBD8;
  --teal-200: #A6CAC5;
  --teal-300: #7DB1AB;
  --teal-400: #64A29A;
  --teal-500: #3D8B81;
  --teal-600: #387E75;
  --teal-700: #2B635C;
  --teal-800: #224C47;
  --teal-900: #1A3A36;
  --navy-50: #EEF2F7;
  --navy-100: #D6E0EB;
  --navy-200: #BACBDE;
  --navy-300: #90B0D5;
  --navy-400: #6B96C7;
  --navy-500: #346FB2;
  --navy-600: #1C589C;
  --navy-700: #063A74;
  --navy-800: #052B57;
  --navy-900: #031F3F;
}


:root {
  /* ==== spacing ==== */
  --spacing-2: 0.2rem;
  --spacing-4: 0.4rem;
  --spacing-6: 0.6rem;
  --spacing-8: 0.8rem;
  --spacing-10: 1rem;
  --spacing-12: 1.2rem;
  --spacing-14: 1.4rem;
  --spacing-16: 1.6rem;
  --spacing-20: 2rem;
  --spacing-24: 2.4rem;
  --spacing-26: 2.6rem;
  --spacing-28: 2.8rem;
  --spacing-32: 3.2rem;
  --spacing-40: 4rem;
  --spacing-48: 4.8rem;
  --spacing-50: ;
  --spacing-60: 6rem;
  --spacing-80: 8rem;
  --spacing-92: 9.2rem;
  --spacing-100: 10rem;
  --spacing-120: 12rem;
  }

  
  
:root {
    /* ==== radius ==== */
    --radius-xs-2: 0.2rem;
    --radius-sm-4: 0.4rem;
    --radius-md-6: 0.6rem;
    --radius-md-8: 0.8rem;
    --radius-lg-16: 1.6rem;
    --radius-full: 10rem;
}