  <!DOCTYPE html>
  <html lang="ko">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>shadow</title>

    <link rel="stylesheet" type="text/css" href="/css/index.css">

  </head>
  <body>
    <p class="body2-r-16 color-slate-900 mb-6">shadow-xs</p>
    <div class="w-half-screen h-half-screen">
      <div class="shadow-xs"></div>
    </div>
    <p class="body2-r-16 color-slate-900 mb-6">shadow-s</p>
    <div class="w-half-screen h-half-screen">
      <div class="shadow-s"></div>
    </div>
    <p class="body2-r-16 color-slate-900 mb-6">shadow-md</p>
    <div class="w-half-screen h-half-screen">
      <div class="shadow-md"></div>
    </div>
    <p class="body2-r-16 color-slate-900 mb-6">shadow-lg</p>
    <div class="w-half-screen h-half-screen">
      <div class="shadow-lg"></div>
    </div>
  </body>
  </html>