  <!DOCTYPE html>
  <html lang="ko">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>searchBar</title>

    <link rel="stylesheet" type="text/css" href="/css/index.css">
    
    <!-- searchBar css s -->
    <link rel="stylesheet" type="text/css" href="/css/component/input.css">
    <link rel="stylesheet" type="text/css" href="/css/component/button.css">
    <!-- searchBar css e -->
  </head>

  <body>
    <!-- searchBar -->
    <div class="search-bar">
      <input type="text" class="input-field-default-lg" placeholder="검색어를 입력해주세요">
      <button type="button" class="slate-button-xl width-fit">검색</button>
    </div>
  </body>
  </html>