  <!DOCTYPE html>
  <html lang="ko">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>searchBar</title>

    <link rel="stylesheet" type="text/css" href="/css/index.css">
    
    <!-- searchBar css s -->
    <link rel="stylesheet" type="text/css" href="/css/component/search.css">
    <link rel="stylesheet" type="text/css" href="/css/component/button.css">
    <!-- searchBar css e -->
  </head>

  <body>
    <!-- searchBar -->
     <p class="pt-10 pb-10 body2-r-16 color-slate-900">선행형</p>
    <div class="search-54 flex px-16 gap-12">
      <button type="button" class="search-button">
        <i class="search-icon">
          <span class="blind">검색 버튼</span>
        </i>
      </button>
      <input type="text" class="body1-r-18" placeholder="검색어를 입력해주세요">
    </div>

    <!-- searchBar -->
     <p class="pt-10 pb-10 body2-r-16 color-slate-900">후행형</p>
    <div class="search-54 flex pl-20 pr-16 space-between">
      <input type="text" class="body1-r-18 w-full" placeholder="검색어를 입력해주세요">
      <button type="button" class="search-button">
        <i class="search-icon">
          <span class="blind">검색 버튼</span>
        </i>
      </button>
    </div>

    <!-- searchBar -->
     <p class="pt-10 pb-10 body2-r-16 color-slate-900">search 02</p>
    <div class="search-bar">
      <input type="text" class="search-48 px-12" placeholder="검색어를 입력해주세요">
      <button type="button" class="slate-button-48 w-100">검색</button>
    </div>
  </body>
  </html>