<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>meta tag component</title>
  <link rel="stylesheet" href="/css/index.css">
</head>
<body>
  <!-- API·정보 리소스 카테고리 분류 -->
  <ul class="meta-tag-list">
    <li>
      <span class="meta-tag meta-tag--active">대분류</span>
    </li>
    <li>
      <span class="meta-tag">중분류</span>
    </li>
    <li>
      <span class="meta-tag">소분류</span>
    </li>
  </ul>
</body>
</html>
