<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>button</title>

  <link rel="stylesheet" type="text/css" href="/css/index.css">
  <!-- button css s -->
  <link rel="stylesheet" type="text/css" href="/css/component/button.css">
  <!-- button css e -->

</head>
<body>


  <p class="body3-r-14 color-gray-700 pt-16">blue button</p>

  <!-- disabled button s -->
  <button disabled type="button" class="button-48">
    disabled button
    <span class="icon-arrow-right-90deg-white"></span>
  </button>
  <!-- disabled button e -->


  <p class="body3-r-14 color-gray-700 pt-16">blue icon button</p>

  <!-- blue button s -->
  <button type="button" class="blue-button-xl flex align-center">
    blue button
    <span class="arrow-right-white"></span>
  </button>
  <p class="body3-r-14 color-gray-700 pt-16">blue button</p>

  <button type="button" class="blue-button-xl">
    blue button
  </button>
  
  <button type="button" class="blue-button-lg">
    blue button
  </button>
  
  <button type="button" class="blue-button-md">
    blue button
  </button>
  
  <button type="button" class="blue-button-s">
    blue button
  </button>
  
  <button type="button" class="blue-button-xs">
    blue button
  </button>
  <!-- blue button e -->


  <p class="body3-r-14 color-gray-700 pt-16">border blue button</p>

  <!-- border blue button s -->
   <button type="button" class="border-blue-button-xl">
    border button
   </button>

   <button type="button" class="border-blue-button-lg">
    border button
   </button>

   <button type="button" class="border-blue-button-md">
    border button
   </button>

   <button type="button" class="border-blue-button-s">
    border button
   </button>

   <button type="button" class="border-blue-button-xs">
    border button
   </button>
  <!-- border blue button e -->


  <p class="body3-r-14 color-gray-700 pt-16">slate button</p>

  <!-- slate button s -->
   <button type="button" class="slate-button-xl">
    slate button
   </button>

   <button type="button" class="slate-button-lg"> 
    slate button
   </button>

   <button type="button" class="slate-button-md">
    slate button
   </button>

   <button type="button" class="slate-button-s">
    slate button
   </button>

   <button type="button" class="slate-button-xs">
    slate button
   </button>
  <!-- slate button e -->
  

  <p class="body3-r-14 color-gray-700 pt-16">border slate button</p>

  <!-- border slate button s -->
  <button type="button" class="border-slate-button-xl">
    border button
   </button>

   <button type="button" class="border-slate-button-lg">
    border button
   </button>

   <button type="button" class="border-slate-button-md">
    border button
   </button>

   <button type="button" class="border-slate-button-s">
    border button
   </button>

   <button type="button" class="border-slate-button-xs">
    border button
   </button>
  <!-- border slate button e -->


  <p class="body3-r-14 color-gray-700 pt-16">slate 50 button</p>

  <!-- slate 50 button s -->
  <button type="button" class="slate-50-button-xl">
    slate 50 button
   </button>
   <button type="button" class="slate-50-button-lg">
    slate 50 button
   </button>
   <button type="button" class="slate-50-button-md">
    slate 50 button
   </button>
   <button type="button" class="slate-50-button-s">
    slate 50 button
   </button>
   <button type="button" class="slate-50-button-xs">
    slate 50 button
   </button>
  <!-- slate 50 button e -->

  <!-- transparent button s -->
  <button type="button" class="transparent-button-xl">
    transparent button
   </button>
   <button type="button" class="transparent-button-lg">
    transparent button
   </button>
   <button type="button" class="transparent-button-md">
    transparent button
   </button>
   <button type="button" class="transparent-button-s">
    transparent button
   </button>
   <button type="button" class="transparent-button-xs">
    transparent button
   </button>
  <!-- transparent button e -->

</body>
</html>