  <!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>chip component</title>

    <link rel="stylesheet" href="/css/index.css">
  </head>
  <body>
    <!-- chip s -->
    <div class="chip border-slate-500 border h-36 w-fit px-12 radius-md-6 flex align-center justify-center bg-white">
      <span class="body2-r-16 color-slate-700">Chip Text</span>
    </div>
    <!-- chip e -->

    <!-- chip icon s -->
    <div class="chip border-slate-500 border h-36 w-fit px-12 radius-md-6 gap-6 flex align-center justify-center bg-white">
      <span class="body2-r-16 color-slate-700">Chip Text</span>
      <button type="button" class="chips-close-icon">
        <span class="blind">삭제</span>
      </button>
    </div>
    <!-- chip icon e -->

    <!-- chips lis s-->
     <ul class="flex gap-8">
      <li>
        <div class="chip border-slate-500 border h-36 w-fit px-12 radius-md-6 flex align-center justify-center bg-white">
          <span class="body2-r-16 color-slate-700">Chip Text</span>
        </div>
      </li>
      <li>
        <div class="chip border-slate-500 border h-36 w-fit px-12 radius-md-6 flex align-center justify-center bg-white">
          <span class="body2-r-16 color-slate-700">Chip Text</span>
        </div>
      </li>
      <li>
        <div class="chip border-slate-500 border h-36 w-fit px-12 radius-md-6 flex align-center justify-center bg-white">
          <span class="body2-r-16 color-slate-700">Chip Text</span>
        </div>
      </li>
     </ul>
    <!-- chips lis e-->
  </body>
  </html>