  <!DOCTYPE html>
  <html lang="ko">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>textarea</title>

    <link rel="stylesheet" href="/css/index.css">
    <!-- textarea css s -->
    <link rel="stylesheet" href="textarea.css">
    <!-- textarea css e -->
  </head>
  <body>
    <label class="body3-r-14 color-gray-700 pt-16">textarea label</label>
    <textarea name="" id="" class="textarea-field-default"></textarea>
  </body>
  </html>