  <!DOCTYPE html>
  <html lang="ko">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>searchBar</title>

    <link rel="stylesheet" type="text/css" href="/css/index.css">
    
  </head>

  <body>

    <!-- searchBar 54 -->
     <p class="pt-10 pb-10 body2-r-16 color-slate-900">선행형 54</p>
    <div class="search-54 flex px-16 gap-12 align-center">
      <i class="search-icon-54">
        <span class="blind">검색 버튼</span>
      </i>
      <input type="search" class="body1-r-18 w-full" placeholder="검색어를 입력해주세요">
    </div>

    <!-- searchBar 48 -->
     <p class="pt-10 pb-10 body2-r-16 color-slate-900">선행형 48</p>
    <div class="search-48 flex px-16 gap-12 align-center">
      <i class="search-icon-54">
        <span class="blind">검색 버튼</span>
      </i>
      <input type="search" class="body1-r-18 w-full" placeholder="검색어를 입력해주세요">
    </div>

    <!-- searchBar 40 -->
     <p class="pt-10 pb-10 body2-r-16 color-slate-900">선행형 40</p>
    <div class="search-40 flex px-12 gap-10 align-center">
      <i class="search-icon-40">
        <span class="blind">검색 버튼</span>
      </i>
      <input type="search" class="body2-r-16 w-full" placeholder="검색어를 입력해주세요">
    </div>

    <!-- searchBar 36 -->
     <p class="pt-10 pb-10 body2-r-16 color-slate-900">선행형 36</p>
    <div class="search-36 flex px-8 gap-10 align-center">
      <i class="search-icon-40">
        <span class="blind">검색 버튼</span>
      </i>
      <input type="search" class="body3-r-14 w-full" placeholder="검색어를 입력해주세요">
    </div>

    <!-- searchBar -->
     <p class="pt-10 pb-10 body2-r-16 color-slate-900">후행형 54</p>
    <div class="search-54 flex pl-20 pr-16 justify-between align-center">
      <input type="search" class="body1-r-18 w-full" placeholder="검색어를 입력해주세요">
      <button type="button" class="search-button h-fit">
        <i class="search-icon-54">
          <span class="blind">검색 버튼</span>
        </i>
      </button>
    </div>

    <!-- searchBar -->
     <p class="pt-10 pb-10 body2-r-16 color-slate-900">후행형 48</p>
    <div class="search-48 flex pl-16 pr-12 justify-between align-center">
      <input type="search" class="body1-r-18 w-full" placeholder="검색어를 입력해주세요">
      <button type="button" class="search-button h-fit">
        <i class="search-icon-54">
          <span class="blind">검색 버튼</span>
        </i>
      </button>
    </div>

    <!-- searchBar -->
     <p class="pt-10 pb-10 body2-r-16 color-slate-900">후행형 40</p>
    <div class="search-40 flex pl-12 pr-10 justify-between align-center">
      <input type="search" class="body2-r-16 w-full" placeholder="검색어를 입력해주세요">
      <button type="button" class="search-button h-fit">
        <i class="search-icon-40">
          <span class="blind">검색 버튼</span>
        </i>
      </button>
    </div>

    <!-- searchBar -->
     <p class="pt-10 pb-10 body2-r-16 color-slate-900">후행형 36</p>
    <div class="search-36 flex pl-8 pr-8 justify-between align-center">
      <input type="search" class="body3-r-14 w-full" placeholder="검색어를 입력해주세요">
      <button type="button" class="search-button h-fit">
        <i class="search-icon-40">
          <span class="blind">검색 버튼</span>
        </i>
      </button>
    </div>

    <!-- searchBar -->
     <p class="pt-10 pb-10 body2-r-16 color-slate-900">cta 버튼</p>
    <div class="search-bar flex gap-8 align-center ">
      <input type="search" class="search-48 px-12 w-full" placeholder="검색어를 입력해주세요">
      <button type="button" class="slate-button-48 w-100 h-fit">검색</button>
    </div>

    

    <!-- 메인 검색창 54 -->
    <p class="pt-10 pb-10 body2-r-16 color-slate-900">메인 검색창 54</p>
    <div class="main-search-wrapper">
      <div class="main-search-54 flex align-center gap-8 px-12">
        <div class="select-wrapper main-search__select-wrapper">
          <label for="main-search-category" class="blind">검색 분류</label>
          <select id="main-search-category" class="select-48 flex align-center" name="main-search-category" aria-label="검색 분류">
            <option value="heritage" selected>국가유산명</option>
            <option value="region">지역명</option>
          </select>
        </div>
        <label for="main-search-example" class="blind">검색어</label>
        <input type="search" id="main-search-example" class="main-search__input body1-r-18 flex-1"
          placeholder="찾고 싶은 국가유산명을 입력해주세요" autocomplete="off">
        <button type="button" class="search-button h-fit">
          <i class="main-search-blue-icon">
            <span class="blind">검색 버튼</span>
          </i>
        </button>
      </div>
    </div>

    <!-- 메인 검색창 62 -->
    <p class="pt-10 pb-10 body2-r-16 color-slate-900">메인 검색창 62</p>
    <div class="main-search-wrapper">
      <div class="main-search-62 flex align-center gap-8 px-12">
        <div class="select-wrapper main-search__select-wrapper">
          <label for="main-search-category" class="blind">검색 분류</label>
          <select id="main-search-category" class="select-48 flex align-center" name="main-search-category" aria-label="검색 분류">
            <option value="heritage" selected>국가유산명</option>
            <option value="region">지역명</option>
          </select>
        </div>
        <label for="main-search-example" class="blind">검색어</label>
        <input type="search" id="main-search-example" class="main-search__input body1-r-18 flex-1"
          placeholder="찾고 싶은 국가유산명을 입력해주세요" autocomplete="off">
        <button type="button" class="search-button h-fit">
          <i class="main-search-blue-icon">
            <span class="blind">검색 버튼</span>
          </i>
        </button>
      </div>
    </div>

    <!-- 검색 응용 예시 -->
    <p class="pt-10 pb-10 body2-r-16 color-slate-900">검색 응용 예시</p>
    <div class="search-wrapper">
      <div class="search-54 flex pl-20 pr-16 justify-between align-center">
        <input type="search" class="body1-r-18 w-full search-input" placeholder="검색어를 입력해주세요" id="example">
        <button type="button" class="search-button h-fit">
          <i class="search-icon-54">
            <span class="blind">검색 버튼</span>
          </i>
        </button>
      </div>
      <div class="search-popup py-8" role="dialog" aria-modal="true" aria-labelledby="example">
        <div class="search flex align-center justify-between align-center px-20">
          <p class="body2-sb-16 color-slate-900">최근 검색어</p>
          <button type="button" class="">전체삭제</button>
        </div>
        <ul>
          <li class="px-20 flex align-center justify-between align-center">
            <a href="#" class="flex align-center gap-8 py-8">
              <i class="clock-icon">
                <span class="blind">시계 아이콘</span>
              </i>
              <span class="body2-r-16 color-slate-900">최근 검색어 1</span>
            </a>
            <button type="button">
              <i class="close-icon"><span class="blind">닫기 버튼</span></i>
            </button>
          </li>
          <li class="px-20 flex align-center justify-between">
            <a href="#" class="flex align-center gap-8 py-8">
              <i class="clock-icon">
                <span class="blind">시계 아이콘</span>
              </i>
              <span class="body2-r-16 color-slate-900">최근 검색어 1</span>
            </a>
            <button type="button">
              <i class="close-icon"><span class="blind">닫기 버튼</span></i>
            </button>
          </li>
        </ul>
      </div>
    </div>
  </body>
  <script src="/js/search-popup.js"></script>
  </html>